extends ../layout

block content
  .container
    center
      h1 Information of Students
      table.table.table-striped
        tr
          th Student Name
          th Course
          th Action
        each user in records 
          tr
            td #{user.name.full}
            td #{user.course}
            td  
              div
                a.btn.btn-danger.btn-lg(href="/users/#{user._id}/delete") Delete
                a.btn.btn-primary.btn-lg(href="/users/#{user._id}/show") Show